﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-control-label {
    padding-right: 10px;
}

#remi-text-output {
    text-align: center;
}

/* Canvas styles */
#canvas {
    /* height and width 50% of view port horizontal size. */
    width: 100%;
    height: 100%;
    background-color: #000;
}

#canvasData {
    margin-top: 18vh;
}

