﻿@model CS461_M3_Cross_Country.DAL.Session

@{
    ViewBag.Title = "Session Details";
}

<h2>Session Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Athlete.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AthleteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPSData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPSData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sessions List", "Index")
</p>
