﻿@model CS461_M3_Cross_Country.DAL.Device

<h4>@Model.SerialNumber - @Model.Manufacturer @Model.Description</h4>

<ul class="list-group">
    <li class="list-group-item">Purchase Date: @Model.PurchaseDate</li>
</ul>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @*Stuff that I don't want the coach to be able to edit!*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DeviceID)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.SerialNumber)
    @Html.HiddenFor(model => model.Manufacturer)
    @Html.HiddenFor(model => model.PurchaseDate)

    @*Stuff that the coach can edit freely*@
<div class="form-group">
    @Html.LabelFor(model => model.AssignedTo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("AssignedTo", null,"-- Checked In --", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AssignedTo, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group">
        @Html.LabelFor(model => model.Damaged, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Damaged)
                @Html.ValidationMessageFor(model => model.Damaged, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to Devices", "Devices")
</div>
